{% extends 'base.html.twig' %}

{% block title %}Results{% endblock %}

{% block body %}
    <h1>Results</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ result.id }}</td>
            </tr>
            <tr>
                <th>Result</th>
                <td>{{ result.result }}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{{ result.time ? result.time|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('results_index') }}">back to list</a>

    <a href="{{ path('results_edit', {'id': result.id}) }}">edit</a>

    {{ include('results/_delete_form.html.twig') }}
{% endblock %}
