{% extends 'base.html.twig' %}

{% block title %}Persona{% endblock %}

{% block body %}
    <h1>Persona</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Dni</th>
                <td>{{ persona.dni }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ persona.nombre }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ persona.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('persona_index') }}">back to list</a>

    <a href="{{ path('persona_edit', {'dni': persona.dni}) }}">edit</a>

    {{ include('persona/_delete_form.html.twig') }}
{% endblock %}
